<!DOCTYPE html>

<HTML>  
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/logo.jpg">
        <link rel="stylesheet" href="/css/styles.css">  
        
    </head>

    <body>
        <div id="sky">
    <div id="sun"></div>
    <div class="cloud c1"></div>
    <div class="cloud c2"></div>
    <div class="cloud c3"></div>
    <div class="cloud c4"></div>
    </div>
        <div class="main-content">
            {{> header}}
            <p>Use this site to get your weather!</p>

            <form>
                <input type="text" id="address" name="address" placeholder="Enter address">
                <button type="submit">Search</button>
            </form>

            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
        {{> footer}}

        <script src="/js/app.js"></script>
    </body>

</HTML>